{% extends 'base.html.twig' %}

{% block title %}ZAP Stream - Accueil{% endblock %}

{% block body %}
    <div class="body_accueil">
        <div class="body_accueil_title">
            <h1>Accueil</h1>
        </div>
        <div class="body_accueil_top">
            <div class="body_accueil_top_left">
                <div class="body_accueil_top_left_box">
                    {% for actu in actualites %}
                        <div class="body_accueil_top_left_box_single1">
                            <div class="body_accueil_top_left_box_single2">
                                <div class="body_accueil_top_left_box_img">
                                    {% if actu.image %}
                                        <a href="{{ path('app_one_actu', {id: actu.id }) }}"><img src="{{ asset('upload/actus/' ~ actu.image) }}""></a>
                                    {% endif %}
                                </div>
                                <div class="body_accueil_top_left_box_title">
                                    <h2><a href="{{ path('app_one_actu', {id: actu.id }) }}">{{ actu.title }}</a></h2>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="body_accueil_top_right">
                <h1>Accueil top right (publications)</h1>
            </div>

        </div>
        <div class="body_accueil_bottom">
            {% for streamer in streamers %}
                <div class="body_accueil_bottom_streamer">
                        <div class="body_accueil_bottom_streamer_single shadow">
                            <a href="{{ path('app_one_streamer', {id: streamer.id }) }}">
                            {% if streamer.avatar %}
                                <img src="{{ asset('upload/users/' ~ streamer.avatar) }}">
                            {% endif %}
                            <p> {{ streamer.pseudo }} - {{ streamer.followers }} followers</p>
                            </a>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
