{% extends 'base.html.twig' %}

{% block title %}ZAP Stream - Game{% endblock %}

{% block body %}
    <div class="body_single_game">
        <div class="body_single_game_top">
            <div class="body_single_game_top_left">
                <img src="{{ asset('upload/game/' ~ game.image) }}">
            </div>
            <div class="body_single_game_top_right">
                <div class="body_single_game_top_right_title">
                    <h1>{{ game.title }}</h1>
                </div>
                <div class="body_single_game_top_right_description">
                    <h4>{{ game.description }}</h4>
                </div>
            </div>
        </div>

        <div class="body_single_game_bottom">
            <div class="body_single_game_bottom_left">
                {% for publication in publications %}
                    <div class="view_publication_single"
                    <div class="row-publications">
                        <div class="box_top_view_publication">
                            <div class="box_view_publications_pseudo_avatar">
                                <div class="box_view_publications_pseudo">
                                    Pseudo
                                </div>
                                <div class="box_view_publications_avatar">
                                    <img src="{{ asset('upload/users/gollum-62a6f55651000.jpg') }}">
                                </div>
                                <div class="view_publication_title">
                                    <p> {{ publication.title }} </p>
                                </div>
                            </div>
                        </div>
                        <div class="view_publication_description">
                            <p> {{ publication.description }} </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="body_single_game_bottom_right">
                <div class="body_single_game_bottom_right_top">
                    {% if app.user %}
                        <li><a href="{{ path("app_post") }}"><h4>Créer une publication</h4></a></li>
                    {% else %}
                        <li><a href="{{ path("app_login") }}"><h4>Créer une publication</h4></a></li>
                    {% endif %}
                </div>
                <div class="body_single_game_bottom_right_bottom">
                    <li><a href="{{ path("app_publications") }}"><h4>Voir les publication</h4></a></li>

                </div>
            </div>
        </div>
    </div>
{% endblock %}