{% extends 'base.html.twig' %}

{% block title %}ZAP Stream - Jeux{% endblock %}

{% block body %}
    <div class="body_game">
        <div class="body_game_searchbar">
            <div class="body_game_searchbar2">
                {{ render(controller('App\\Controller\\SearchController::searchBar')) }}
            </div>
        </div>

        {% if app.request.method == 'POST' %}
            <div>
                <div class="body_game_searchbar_results">
                    {% if games | length == 0 %}
                    <h4>Aucun résulat pour votre recherche.</h4>
                    {% else %}
                    <h3 class="mt-3">Vos résulats de recherche :</h3>
                </div>

                    {% for game in games %}
                        <div class="body_game_single1">
                            <div class="body_game_single2">
                                <a class="body_game_single3" href="{{ path('app_one_actu', {id: game.id }) }}">
                                    <div class="body_game_single2_left">
                                        <img src="{{ asset('upload/game/' ~ game.image) }}">
                                    </div>
                                    <div class="body_game_single2_right">
                                        <div class="body_game_single2_right_top">
                                            <div class="body_game_single2_right_top_left">
                                                <h4>{{ game.title }}</h4>
                                            </div>
                                            <div class="body_game_single2_right_top_right">
                                                <h4>Publications : nbr</h4>
                                            </div>
                                        </div>
                                        <div class="body_game_single2_right_bottom">
                                            <p>{{ game.description }}</p>
                                        </div>
                                    </div>
                                    <div class="body_game_single2_extreme_right">
                                        <i class="fa-solid fa-angle-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}




























        {#        <div class="body_game_all">#}
{#            {% for game in games %}#}
{#                <div class="body_game_single1">#}
{#                    <div class="body_game_single2">#}
{#                        <div class="body_game_single3">#}
{#                            <div class="body_game_single2_left">#}
{#                                <img src="{{ asset('upload/game/' ~ game.image) }}">#}
{#                            </div>#}
{#                            <div class="body_game_single2_right">#}
{#                                <div class="body_game_single2_right_top">#}
{#                                    <div class="body_game_single2_right_top_left">#}
{#                                        <h4>{{ game.title }}</h4>#}
{#                                    </div>#}
{#                                    <div class="body_game_single2_right_top_right">#}
{#                                        <h4>Publications : nbr</h4>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="body_game_single2_right_bottom">#}
{#                                    <p>{{ game.description }}</p>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="body_game_single2_extreme_right">#}
{#                                <i class="fa-solid fa-angle-right"></i>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

{#            {% endfor %}#}
{#        </div>#}
    </div>
{% endblock %}
