<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {{ encore_entry_link_tags('app') }}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <header>
        <div class="top-header">
            <div class="reseaux">
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-steam-symbol"></i>
                <i class="fa-brands fa-twitch"></i>
                <i class="fa-brands fa-discord"></i>
            </div>

            <div class="logo">
                <li><a href="{{ path("app_home") }}"><img src="{{ asset('img/logo.png') }}"></a></li>
            </div>

            <div class="signing">
                <div class="login">
                    {% if app.user %}
                        <li><a href="{{ path('app_logout') }}"><i class="fa-solid fa-arrow-right-from-bracket"></i>Deconnexion</a></li>
                    {% else %}
                    <li><a href="{{ path('app_login') }}"><i class="fa-solid fa-right-to-bracket"></i>Se connecter</a></li>
                    {% endif %}
                </div>
                <div class="register">
                    {% if app.user %}
                        <li><a href=""><i class="fa-solid fa-user"></i>Mon profil</a></li>
                    {% else %}
                        <li><a href="{{ path('app_register') }}"><i class="fa-solid fa-registered"></i>S'inscrire</a></li>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="bottom-header">
           <ul>
               <li><a href="">Actus</a></li>
               <li><a href="">Jeux</a></li>
               <li><a href="{{ path('app_streamer') }}">Streamers</a></li>
           </ul>
        </div>
    </header>

    <body>
                    
        {% block body %}{% endblock %}

    </body>

    <footer>Footer</footer>
    {{ encore_entry_script_tags('app') }}
</html>
