{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

<section id="body_create_publication">
    <div class="big_box_form_create_publication">
            <div class="button_gamename_create_publication button_category_create"></div>
    <div class="box_createform_bc_grey">
        <div class="box_button_create_publication">
                <p>Créer une publication</p>
        </div>
                <div class="view_createpost_avatar">
                    {%for streamer in streamers%}
                    {% if streamer.avatar %}
                    <img src="{{ asset('upload/users/' ~ streamer.avatar) }}">
                    {% endif %}
                    {%endfor %}
                </div>
        <div class="box_icon_pseudo">
            <div class="create_publication_pseudo">
                <p>Pseudo</p>
            </div>
        </div>
            <div class="box_form_create_publication">
                {{ form_start(form) }}
                    <p>TITRE</p>
                <div class="create_publication_form_title">
                    {{ form_row(form.title) }}
                </div>

                    <p>description</p>
                <div class="create_publication_form_description"
                    {{ form_row(form.description) }}
                </div>
                
                <div class="box_valid_create_publication">
                    <button type="submit" class="button_create_publication">Valider</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>    
</section>

{% endblock %}
