{% extends 'base.html.twig' %}

{% block title %}ZapStream - Publications{% endblock %}

{% block body %}
    <div class="body_publications">
        <div class="body_publications_top">
            <div class="body_publications_top_create">
                {% if app.user %}
                    <li><a href="{{ path("app_post") }}"><h4>Créer une publication</h4></a></li>
                {% else %}
                    <li><a href="{{ path("app_login") }}"><h4>Créer une publication</h4></a></li>
                {% endif %}
            </div>
        </div>
        <div class="body_publications_bottom">
            <div class="body_publications_bottom2">
                {% for publication in publications %}
                    <div class="body_publications_bottom2_post">
                        <a class="body_publications_bottom2_post2" href="{{ path('app_singlepost', {id: publication.id }) }}">
                            <div class="body_publications_bottom2_post2_name">
                                <h1>{{ publication.user.pseudo }}</h1>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{#        <img src="{{ asset('upload/users/gollum-62a6f55651000.jpg') }}">#}
{#        <p> {{ publication.title }} </p>#}
{#        <p> {{ publication.description }} </p>#}

{% endblock %}